@import "tailwindcss";
body{
  background-color: #a0ced9;
  cursor: url('./assets/Normal\ Select.cur'), auto;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 6s linear infinite;
}

.nyacatgif {
  width: 400px;
}